@model List<Eventures.Models.ViewModels.EventAllViewModel>

@{
    ViewData["Title"] = "All";
}

<h1 class="text-center">All Events</h1>
<hr/>


<table class="table">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-5">Name</th>
            <th class="col-md-2">Srat</th>
            <th class="col-md-2">End</th>
            <th class="col-md-2">Place</th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr class="row">
            <td class="col-md-1">@(i+1)</td>
            <td class="col-md-5">@Model[i].Name</td>
            <td class="col-md-2">@Model[i].Start</td>
            <td class="col-md-2">@Model[i].End</td>
            <td class="col-md-2">@Model[i].Place</td>
        </tr>
    }
    </tbody>
</table>